.boton{
    background-color: #757575;
    color: white;
    cursor: pointer;
    height: 30px;
    font-size: x-large;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-top: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.medium{
width:200px
}

.large{
    width: 350px;
}

.boton:hover{
transform: scale(1.1,1.1);
color: #757575;
background-color: white;
font-weight: bold;
border-color: #757575;
}