.register-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form button:hover {
    background-color: #45a049;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  