.comentario-box{
    margin: 10px 0px;
    width: 500px;
    border: 2px solid;
    border-radius: 10px;
    width: 100%;
}

.comentario-card{
    border: 2px solid;
    border-radius: 10px;

}

.comentario-title-box{
    display: flex;
    align-items: center;
    margin: 10px;

}

.comentario-title-name{
    margin: 10px;
}


