.header {
    /* background-image: url("assets/fotoportada.avif");
    background-size: cover;
    background-position-y: -55px; */
    background-color:rgb(237 132 57);
    height: 150px;
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 10px rgba(197, 158, 28, 0.452);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
   

  }
  .link:link {
    color: black;
    text-decoration-line: none;
  }
  
  .link:visited {
    color: black;
    text-decoration-line: none;
  }
  
  .link:hover {
    color: black;
    text-decoration-line: none;
  }
  
  .navbar {
    margin-bottom:70px;
    margin-right: 30px;
  }
  
  .boton {
    margin-right: 15px;
  }
  
  @font-face {
    font-family: "urban-jungle";
    src: url("./UrbanJungleDEMO.otf");
  }
  
  .title-font {
    font-family: "urban-jungle";
    font-size: 80px;
  }
  .title{
    margin-top:50px
  }

  /* Estilos para pantallas extra pequeñas (xs) */
  @media (min-width: 1px) and (max-width: 469.98px) {
    .header {
        display: flex;
        justify-content: space-around;
      height: auto;
      height: 160px;
    }
  
    .title {
      margin-top: 0px;
      text-align: center;
      font-size: 10px;
    }
  
    .navbar {
      margin-top: 50px;
    }
  }
  .title-font{
    font-size: 40px;
  }
  
  /* Estilos para pantallas pequeñas (s) */
  @media (min-width: 470px) and (max-width: 852.98px) {
    .header {
        flex-direction: column;
        height: auto;
        height: 160px;
      }
    
      .title {
        margin-top: 15px;
        text-align: center;
      }
    .navbar{
        margin-bottom: 80px;
    }   
    .title-font{
        font-size: 50px;
        margin-bottom: 15px;
        margin-top: 0px;
    }
}


  /* Estilos para pantallas medianas (m) */
  @media (min-width: 853px) and (max-width: 991.98px) {
    .header{
        display: flex;
        justify-content: space-between;
        height: 160px;
    }
    .title-font{
        font-size: 50px;
    }
    .title{
        margin-top: 30px;
    }
    .navbar{
        margin-bottom: 50px
    }  }
  
  /* Estilos para pantallas grandes (l) */
  @media (min-width: 992px){
    .header{
        display: flex;
        justify-content: space-between;
        height: 160px;
    }
    .title-font{
        font-size: 65px;
    }
    .title{
        margin-top: 30px;
    }
    .navbar{
        margin-bottom: 50px
    }
  }
  