

.top{
    margin-top: 10px;
}

.right{
    margin-right: 15px;
}
.disp{
    display: flex;
    align-items: center;
    margin-top: 11%;
}

.h3{
    margin-right: 15px;
    font-size: 30px;}

@media (min-width: 1px) and (max-width: 469.98px) {
    .disp{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .h3{
        margin-bottom: 0;
    }
}
    @media (min-width: 470px) and (max-width: 852.98px) {

        .disp{
            display: flex;
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 15px;
        }
        .div-boton{
            display: flex;
            margin-bottom: 10px;
        }
        .h3{
            font-size: 25px;
            margin-bottom: 0;
            margin-top: 0;
        }
}
