img{
    width: 50%;
    height: 50%;
    
}
.div-img{
display: flex;
justify-content: center;
margin-top: 5%;
}

.div-textAviso{
    width: 50%
}

@media (max-width: 720px){
    .div-textAviso{
        width: 90%
    }
}