.footer-container {
    margin-top: 100px;
    display: flex;
  justify-content: space-between;
  align-items: center;
    
  }


.ant-icons{
    font-size: 50px;
    display: flex;
    margin-left: 50px;
    gap: 15px;
    
}

.ant-icon{
    
    color: whitesmoke;
        }

.footer-btn-container {
    margin-left: auto;
    margin-right: 15px;
}        

@media screen and (max-width: 700px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
    
    .footer-btn-container {
        display: flex;
        align-items: center;
        margin-right: 0 ;
        margin-left: 20px;
        margin-bottom: 20px;
    }
   
    .ant-icons {
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        gap: 15px;
    }
    .ant-icon {
        font-size: 30px;
        margin-right: 0;
        margin-left: 0;
        
      }
  }

  footer {
    flex-shrink: 0;
  }