.texto-aviso{
  color: white;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
}
.cardDetEv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(237 132 57, 0.452);
  padding: 20px;
  margin-bottom: 10%;
  text-align: center;
  width: 40%;
  margin-top: 20%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-image:linear-gradient(to bottom, rgb(237 132 57), #fff);
  border: solid black;
}
.cardDetEv {
  opacity: 0;
  transform: translateX(-100px);
  animation: appearCard 0.5s ease-in-out forwards;
}
.evento-botonesAdmin{
  display: flex;
  gap: 10px
}
@keyframes appearCard {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cardDetEv h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 1%;
  text-align: center;
}

.cardDetEv h2{
  margin-top: 1%;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: text-shadow 0.3s ease-in-out;
}

.cardDetEv p {
  font-size: 16px;
  margin-bottom: 2% ;
  margin-top: 2%;
  text-align: center;
  font-weight: bold;
}

.cardDetEv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 500px;
}

.cardDetEv a {
  text-decoration: none;
  color: black;
}

.cardDetEv a:hover {
  text-decoration: underline;
}

.cardDetEv a:visited{
  text-decoration: none;
  color: black;
}

.border-cardDetEv {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 200px;
}

.div-imageDetEv {
  flex-basis: 20%;
  flex-grow: 1;
  max-height: 200px;
  width: 100%;
  margin: 1%;
  border: solid;
  border-radius:8px;
}
.divCardDetEv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.divDetEv {
  flex-basis: 40%;
  flex-grow: 1;
  max-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.gratuitoDetEv {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: text-shadow 0.3s ease-in-out;
}

.gratuito:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.centerDetEv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

@media (min-width:590px) and (max-width:1040px){
  .cardDetEv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(237 132 57, 0.452);
  padding: 20px;
  margin-bottom: 10%;
  text-align: center;
  width: 100%;
  margin-top: 12%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-image:linear-gradient(to bottom, rgb(237 132 57), #fff);
  border: solid black;}

  .margin-boton-info{
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .evento-botonesAdmin{
  display: flex;
  flex-direction: column;
}
.divCardDetEv{
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  padding-top: 25%;
}
}
@media (max-width:589px){
  .cardDetEv h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 1%;
    text-align: center;
  }
  .cardDetEv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(237 132 57, 0.452);
    padding: 20px;
    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    margin-top: 12%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image:linear-gradient(to bottom, rgb(237 132 57), #fff);
    border: solid black;}
  
    .margin-boton-info{
      margin-top: 3%;
      margin-bottom: 3%;
    }
    .evento-botonesAdmin{
    display: flex;
    flex-direction: column;
  }
  .divCardDetEv{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    padding-top: 25%;
  }
}