.nuevo-comentario{
    border-style: solid;
    background-color: white;
    width:50%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 50px;
}
.displayFlex{
    display: flex;
    justify-content: center;
}
.tit{
    margin-right: 10px;
    margin-left: 1%;
}
.content{
    width:90%;
    height: 100px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top:2%;
    border:solid 1px
}
.divContent{
    margin-top: 1%;
}
.labelCont{
    margin-left: 3%;
}
.divBoton{
    margin-bottom: 1%;
    display: flex;
    justify-content: end;
}
.inputVal{
    margin-left:1%;
    margin-top:4%;
    margin-bottom: 2%;
    border:solid 1px;
    height:40%
}
.inputTit{
    margin-left:1%;
    margin-top:2%;
    margin-bottom: 2%;
    border:solid 1px;
    width:90%;
    height:40%
}
.h2NC{
    text-align: center;
}

@media (max-width:720px){
    .displayFlex{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .tit{
        margin-bottom: 1%;
    }
    .divBoton{
        margin-bottom: 1%;
        display: flex;
        justify-content: center;
    }
    .nuevo-comentario{
        border-style: solid;
        background-color: white;
        width:82%;
        margin: 0 auto;
        border-radius: 10px;
    }
}
